@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --colorFondo: rgb(37, 159, 183);
}

body{
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorFondo);
}

#appToDoList{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.formContainer{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 400px;
    border-radius: 1rem;
    padding-bottom: 1rem;
    transition: 1s;
    
}

.containerInputTexto{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30px;
}

.containerInputTexto input{
    border: none;
    background-color: #dddddd;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

.containerInputTexto button{
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #dddddd;
    cursor: pointer;

}


.contenedorTareas{
    display: flex;
    justify-content:center;
    width: 100%;

}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    width: 80%;
}

.item-tarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    width:100%;

}

.btn-borrar{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#contenedorBotonesClear{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.btnClear{
    display: flex;
    justify-content: center;
    width:100px;
    border-radius: 10px;
    color: white;
    background-color: var(--colorFondo);
    border: none;
    padding: 10px 80px;
    cursor: pointer;
    
}

input[type="checkbox"]{
    cursor: pointer;
}

.tachado {
    text-decoration: line-through;
    color: gray;
  }

