<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

</head>
<body>
    <div id="appToDoList">

        <div class="formContainer">

            <h2>To-Do List</h2>
            <div class="containerInputTexto">
                <input @keyup.enter="agregarTarea" type="text" v-model="nuevaTarea" placeholder="Agregar tarea">
                <button  @click="agregarTarea">+</button>
            </div>

            <div class="contenedorTareas">
                <ul>
                    <li class="item-tarea" v-for="(tarea,index) in tareas" :key="index"> 
                        <input type="checkbox" v-model="tarea.completado" >
                        <span :class="{tachado: tarea.completado}">{{tarea.texto}} </span>     
                        <button @click="eliminarTarea(index)" class="material-icons btn-borrar">delete</button>
                    </li>
                </ul>
            </div>

            <div id="contenedorBotonesClear">
                <button @click="clearCompleted" class="btnClear">Clear Completed</button>
                <button @click="clearAll" class="btnClear">Clear all</button>
            </div>
            


         </div>
    </div>


    <script src="scriptToDoList.js"></script>
</body>
</html>